{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.customer is defined and object.isCustomer() == true %}
        <span aria-hidden="true" class="glyphicon glyphicon-ok is-customer" title="{{ 'sil.label.isCustomer'|trans() }}"></span>
    {% else %}
        <span aria-hidden="true" class="glyphicon glyphicon-remove is-not-customer" title="{{ 'sil.label.isNotCustomer'|trans() }}"></span>
    {% endif %}
    {{ object.customerCode }}
{% endblock %}
