{% extends 'BlastCoreBundle:CRUD:base_show.html.twig' %}

{% block bottom_js %}
    {{ parent() }}
    
    {% if object.alert is not null %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#extra-content').append('<div class="show-alert col-md-12 "> <div class="box box-primary"> <div class="box-header"> <div class="box-body table-responsive no-padding"> <table class="table"> <tbody> <tr class="sonata-ba-view-container message"><th>{{ "Alert"| trans() }}</th><td>{{ object.alert| trans() }}</td></tr></tbody></table></div></div></div></div>');
        });
    </script>
    {% endif %}
{% endblock %}