{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% set count = object.countOrganisms() %}
    <strong>{% transchoice count %}{0} No organism|{1} 1 organism|[2, Inf[ %count% organisms{% endtranschoice %}</strong>

    {% if count %}
        &nbsp; − <a href="{{ path('admin_crm_organism_list', {'filter[circles][value]': object.id}) }}">{{ 'View list'|trans() }}</a>
    {% endif %}
{% endblock %}

