{#

This file is part of the Sonata package.

(c) Baptiste SIMON <beta@e-glop.net>
(c) Marcos Bezerra de Menezes <marcos.bezerra@libre-informatique.fr>
(c) Libre Informatique [http://www.libre-informatique.fr/]

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'BlastCoreBundle:CRUD:base_edit.html.twig' %}

{% block bottom_js %}
    {{ parent() }}
    <div class="js-data" id="form-id" data-id="{{ form.vars.id }}"></div>
    <script type="text/javascript" src="{{ asset('bundles/silcrm/js/zipCity.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/silcrm/js/npai.js') }}"></script>
{% endblock %}
