/* Organism form */ 

div.form-group[id$=_individual] ul li { 
    display: inline-block; 
    margin-right: 2em;
}
div.form-group[id$=_individual] ul li .radio { display: inline-block; }

div.form-group[id$=_email] .checkbox { display: inline-block; }
div.form-group[id$=_email] .checkbox + .checkbox { margin-left: 2em; }

/* ??? */

@media (min-width: 1200px) {
.sonata-ba-view-container .sonata-ba-view.row { width: 390px; display: inline-block; vertical-align: top; }
.sonata-collection-row-without-label .sonata-ba-tabs > div { width: 390px; float: left; }
.sonata-collection-row-without-label .sonata-ba-tabs > div + div { margin-left: 10px; }
.sonata-collection-row-without-label .field-container > span + span { display: block; clear: both; }
}
