{#

This file is part of the Sonata package.

(c) Baptiste SIMON <beta@e-glop.net>
(c) Libre Informatique [http://www.libre-informatique.fr/]

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <a href="mailto:{{ value }}">{{ value }}</a>
    {% if ( object.emailNpai ) %}
        <span class="label label-danger">{{ 'librinfo.label.npai'|trans }}</span>
    {% endif %}
    {% if ( object.emailNoNewsletter ) %}
        <span class="label label-danger">{{ 'librinfo.label.email_no_newsletter'|trans }}</span>

    {% endif %}
{% endblock %}
